---
layout: default
title: Press
suppress_header: true
extra_css:
  - press.css
---

<div class="wrapper">
  <div class="press-container">
    <div class="press-content">
      <h1>PRESS</h1>
      <h3>For press enquiries, please email: <span>press@gitlab.com<span></h3>
    </div>
  </div>

  <div class="sub-wrapper">
    <div class="container">
      <div class="all-items">
        <div class="row images-column">
          <h2>IMAGES &amp; LOGOS</h2>

          <div class="image-container col-md-4 individual">
            <div class="text">
              <span>Founders</span>
            </div>
            <a target="_blank" href="/images/press/founders.png">
              <div class="image founders"></div>
            </a>
            <div class="list">
              <div class="btn btn-default">
                <a href="/images/press/founders.png" download="gitlab_founders">
                  <i class="fa fa-download"><span>&nbsp;&nbsp;.PNG</span></i>
                </a>
              </div>
            </div>
          </div>
          <div class="image-container col-md-4">
            <div class="text">
              <span>White Raccoon Dog</span>
            </div>
            <a target="_blank" href="/images/press/logo/fox-white.png">
              <div class="image fox"></div>
            </a>
            <div class="multi-button">
              <div class="list">
                <div class="btn btn-default">
                  <a href="/images/press/logo/fox-white.png" download="gitlab_logo">
                    <i class="fa fa-download"><span>&nbsp;&nbsp;.PNG</span></i>
                  </a>
                </div>
                <div class="btn btn-default">
                  <a href="/images/press/logo/fox.eps" download="gitlab_logo_white">
                    <i class="fa fa-download"><span>&nbsp;&nbsp;.EPS</span></i>
                  </a>
                </div>
                <div class="btn btn-default">
                  <a href="/images/press/logo/fox.png" download="gitlab_logo_trans">
                    <i class="fa fa-download"><span>&nbsp;&nbsp;.PNG (transparent)</span></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="image-container col-md-4 individual">
            <div class="text">
              <span>Biker Raccoon Dog</span>
            </div>
            <a target="_blank" href="/images/press/motorcycle/biker.png">
              <div class="image biker"></div>
            </a>
            <div class="list">
              <div class="btn btn-default">
                <a href="/images/press/motorcycle/biker.png" download="gitlab_biker">
                  <i class="fa fa-download"><span>&nbsp;&nbsp;.PNG</span></i>
                </a>
              </div>
              <div class="btn btn-default">
                <a href="/images/press/motorcycle/biker.eps" download="gitlab_biker">
                  <i class="fa fa-download"><span>&nbsp;&nbsp;.EPS</span></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      <div class="row images-column individual">
      <div class="image-container file-view col-md-4">
        <div class="text">
          <span>File View</span>
        </div>
        <a target="_blank" href="/images/press/screenshots/file_view.png">
          <div class="image file"></div>
        </a>
        <div class="list">
          <div class="btn btn-default">
            <a href="/images/press/screenshots/file_view.png" download="gitlab_file_view">
              <i class="fa fa-download"><span>&nbsp;&nbsp;.PNG</span></i>
            </a>
          </div>
        </div>
      </div>

      <div class="image-container col-md-4 individual">
        <div class="text">
          <span>Network Graph View</span>
        </div>
        <a target="_blank" href="/images/press/screenshots/network_graph.png">
          <div class="image network-graph"></div>
        </a>
        <div class="list">
          <div class="btn btn-default">
              <a href="/images/press/screenshots/network_graph.png" download="gitlab_network_graph_view">
              <i class="fa fa-download"><span>&nbsp;&nbsp;.PNG</span></i>
            </a>
          </div>
        </div>
      </div>

      <div class="image-container col-md-4 individual">
        <div class="text">
          <span>Diff View</span>
        </div>
        <a target="_blank" href="/images/press/screenshots/diff.png">
          <div class="image diff"></div>
        </a>
        <div class="list">
          <div class="btn btn-default">
            <a href="/images/press/screenshots/diff.png" download="gitlab_diff_view">
              <i class="fa fa-download"><span>&nbsp;&nbsp;.PNG</span></i>
            </a>
          </div>
        </div>
      </div>
      <div class="image-container col-md-4">
        <div class="text">
          <span>Wordmark</span>
        </div>
        <a target="_blank" href="/images/press/wordmark/wordmark.png">
          <div class="image wordmark"></div>
        </a>

        <div class="multi-button">
          <div class="list">
            <div class="btn btn-default">
              <a href="/images/press/wordmark/wordmark.png" download="gitlab_wordmark">
                <i class="fa fa-download"><span>&nbsp;&nbsp;.PNG</span></i>
              </a>
            </div>
            <div class="btn btn-default">
              <a href="/images/press/wordmark/wordmark.eps" download="gitlab_wordmark">
                <i class="fa fa-download"><span>&nbsp;&nbsp;.EPS</span></i>
              </a>
            </div>
            <div class="btn btn-default">
              <a href="/images/press/wordmark/wordmark_large.png" download="gitlab_wordmark_large">
                <i class="fa fa-download"><span>&nbsp;&nbsp;.PNG (large)</span></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <hr class="divider">

    <div class="row blog_twitter_row">
      <div class="col-xs-1 col-md-2"></div>
      <div class="col-xs-10 col-md-8">
        <h2>RECENT NEWS</h2>
        <div class="recent-blog">
          <p>For recent news, please <a href="https://about.gitlab.com/blog/archives.html">visit our blog</a> or <a href="https://twitter.com/gitlab/">view our Twitter feed</a>.</p>
        </div>
      </div>
      <div class="col-xs-1 col-md-2"></div>
    </div>

    <hr class="divider">

    <div class="row">
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-10 col-md-10">
        <h2>IN THE PRESS</h2>
        <div class="item">
          <a href="http://thenextweb.com/insider/2015/03/03/gitlab-acquires-rival-gitorious-will-shut-june-1/">
            <div class="press-image">
              <img src="/images/testimonials/user_99.svg" width="120px">
            </div>
            </a><div class="press-text"><a href="http://thenextweb.com/insider/2015/03/03/gitlab-acquires-rival-gitorious-will-shut-june-1/">
              <div class="article-title">
                Code collaboration platform GitLab acquires rival Gitorious, will shut it down on June 1
              </div>
            </a>
              <div class="press-company">
                <span>- The Next Web</span>
              </div>
          </div>
        </div>
        <div class="item">
          <a href="http://techcrunch.com/2015/03/03/the-great-git-debate/#nOvNCE:aeKr">
            <div class="press-image">
              <img src="/images/testimonials/user_100.svg" width="100px">
            </div>
            </a><div class="press-text"><a href="http://techcrunch.com/2015/03/03/the-great-git-debate/#nOvNCE:aeKr">
              <div class="article-title">
                YC-Backed GitLab Is Like GitHub But For Enterprise – You Know, Like GitHub Enterprise
              </div>
            </a>
            <div class="press-company">
              <span>- Tech Crunch</span>
            </div>
          </div>
        </div>
        <div class="item">
          <a href="http://www.huffingtonpost.com/andre-bourque/handy-tools-software-deve_b_6787766.html">
            <div class="press-image">
              <img src="/images/testimonials/user_101.svg" width="120px">
            </div>
            </a><div class="press-text"><a href="http://www.huffingtonpost.com/andre-bourque/handy-tools-software-deve_b_6787766.html">
              <div class="article-title">
                Handy Tools Software Developers Love and Why They Love Them
              </div>
            </a>
            <div class="press-company">
              <span>- The Huffington Post</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="divider">

    <div class="row recent-podcasts">
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-10 col-md-10">
        <h2>PODCASTS</h2>
        <div class="podcast-item">
          <div class="press-image">
          OCTOBER 2014
          </div>
          <div class="press-text">
            <a href="http://blog.bitnami.com/2014/10/bitnami-open-source-leaders-interview.html">
              <div class="article-title">
                Bitnami Open Source Leaders Interview Series
              </div>
            </a>
          </div>
        </div>
        <div class="podcast-item">
          <div class="press-image">
          AUGUST 2014
          </div>
          <div class="press-text">
            <a href="http://www.binpress.com/blog/2014/08/05/binpress-podcast-episode-5-sytse-sijbrandij-gitlab/">
              <div class="article-title">
                Binpress podcast
              </div>
            </a>
          </div>
        </div>
        <div class="podcast-item">
          <div class="press-image">
          NOVEMBER 2013
          </div>
          <div class="press-text">
            <a href="http://episodes.gitminutes.com/2013/11/gitminutes-25-sytse-sijbrandij-from.html">
              <div class="article-title">
                Git Minutes (Nov 2013)
              </div>
            </a>
          </div>
        </div>
        <div class="podcast-item">
          <div class="press-image">
          SEPTEMBER 2013
          </div>
          <div class="press-text">
            <a href="http://thechangelog.com/103/">
              <div class="article-title">
                The Changelog
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-1 col-md-1"></div>
    </div>

    <hr class="divider">

    <div class="investors row">
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-10 col-md-10">
        <h2>INVESTORS</h2>
        <div class="item">
          <a href="https://about.gitlab.com/2015/03/04/gitlab-is-part-of-the-y-combinator-family/">
            <div class="press-image">
              <img src="/images/press/user_75.png">
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-1 col-md-1"></div>
    </div>
  </div>
</div>
