---
layout: default
title: Documentation
suppress_header: true
extra_css:
  - documentation.css
---
<div class="wrapper">
  <div class="documentation-container">
    <div class="documentation-overlay">
      <div class="documentation-content">
        <h1>Documentation</h1>
      </div>
    </div>
  </div>

  <div id="content" class="txt-middle">
    <div class="container-documentation">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <h2>Community Edition</h2>
          <h4><a href="http://doc.gitlab.com/ce/">Documentation</a></h4>
        </div>
        <div class="col-sm-4 col-md-4">
          <h2>Enterprise Edition</h2>
          <h4><a href="http://doc.gitlab.com/ee/">Documentation</a></h4>
        </div>
        <div class="col-sm-4 col-md-4">
          <h2>Continuous Integration</h2>
          <h4><a href="http://doc.gitlab.com/ci/">Documentation</a></h4>
        </div>
        <div class="col-sm-4 col-md-4">
          <h2>GitLab Shell</h2>
          <h4><a href="https://gitlab.com/gitlab-org/gitlab-shell/blob/master/README.md">Readme</a></h4>
        </div>
        <div class="col-sm-4 col-md-4">
          <h2>GitLab Git</h2>
          <h4><a href="https://gitlab.com/gitlab-org/gitlab_git/blob/master/README.md">Readme</a></h4>
        </div>
        <div class="col-sm-4 col-md-4">
          <h2>Cookbook</h2>
          <h4><a href="https://gitlab.com/gitlab-org/cookbook-omnibus-gitlab/tree/master#README">Readme</a></h4>
        </div>
        <div class="col-sm-4 col-md-4">
          <h2>Omnibus</h2>
          <h4><a href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md">Readme</a></h4>
        </div>
        <div class="col-sm-4 col-md-4">
          <h2>Recipes</h2>
          <h4><a href="https://gitlab.com/gitlab-org/gitlab-recipes/blob/master/README.md">Readme</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>